.book-simple {
  position: relative;
  box-sizing: border-box;
  width: 200px;
  height: 250px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  -webkit-transition: all 2s ease;
          transition: all 2s ease;
  background-color: #124f4b;
  box-shadow: -2px 0 0 0 #124f4b,-1px 4px 1px 1px rgba(0,0,0,.2),20px 0 20px 0 rgba(0,0,0,0);

  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 0 150%;
          perspective-origin: 0 150%;
}
.book-simple:{
  box-shadow: -2px 0 0 0 #124f4b,0 4px 1px 1px rgba(0,0,0,.2),-195px 5px 1px -5px rgba(0,0,0,.2);
}
.book-simple .book-inbox {
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  transition: all 1.8s ease;
  transition-delay: .3s;
  background-color: #e2e1dc;
  box-shadow: 0 8px 0 0 #afada3,200px 0 1px 0 rgba(0,0,0,.4) inset,-2px 0 0 0 #249690;
}
.book-simple:hover .book-inbox {
  box-shadow: 0 8px 0 0 #afada3,-0 0 8px 0 rgba(0,0,0,.0) inset,-2px 0 0 0 #249690;
}
.book-simple::before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: calc( 100% - 10px);
  content: '';
  -webkit-transition: all 2.5s ease;
          transition: all 2.5s ease;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  background-color: #249690;
  box-shadow: 0 2px 0 0 #124f4b;
}
.book-simple:hover::before {
  -webkit-transform: rotateY(-185deg);
          transform: rotateY(-185deg);
}