@use "_variables" as v;
@use "sass:map";

@mixin mq($mq: max, $bp1: md, $bp2: lg) {
  $start: map.get(v.$breakpoints, $bp1) or $bp1;
  $end: map.get(v.$breakpoints, $bp1) or $bp2;
  @if ($mq == max) {
    @media (max-width: #{$start - .02}px) {
      @content;
    }
  } @else if ($mq == min) {
    @media (min-width: #{$start}px) {
      @content;
    }
  } @else if ($mq == between) {
    @media (min-width: #{$start}px) and (max-width: #{$end - .02}px) {
      @content;
    }
  }
}

@mixin button-design {
  position: relative;
  padding: 10px 20px;
  color: black; // Default text color
  transition: color 0.3s ease;
  z-index: 0;
  border-radius: 5px;
  border: 2px solid orange;

  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: orange;
    transition: width 0.3s ease;
    z-index: -1;
  }

  &:hover {
    color: #fff;

    span {
      width: 100%;
    }
  }
}
